.stack{
  overflow:hidden;
}

.card {
  left:0.3em;
  box-shadow:0 0 0.2em rgba(10, 10, 10, 0.5);
  width:100%;
  overflow-x:hidden;
}

.card,.stack {
  margin:0 -0.3em;
  transition-property: top, height;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.card header {
  margin:-0.3em;
  padding: 0.3em;
  min-height:1.3em;
}

.card header h3{
  margin:0;
}
