body{
  background-image:url(http://put.nu/files/okXkft9.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
  background-color:#fff;
  color:#282828;
  font-family: 'Arimo', sans-serif;
}

h1,h2,h3,h4,h5,h6,legend{
  text-transform: capitalize;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

a {
  color:rgb(50, 153, 187);
}

ul{ 
  list-style-type: none;
}

ul.right li {
  text-align:right;
}

#wrapper {
  background-color:rgb(233, 233, 233);
  width:960px;
  margin:20px auto;
  padding:5px;
  box-shadow:0 4px 8px #222;
  border-top:5px solid rgb(50, 153, 187);
  box-sizing:border-box;
}

.projects {
  background-color:rgb(210, 210, 210);
  padding:5px ;
  border-top:5px solid rgb(255, 153, 0);
  box-sizing:border-box;
}

.project {
  background-color:rgb(66 , 66, 66);
  color:rgb(188, 188, 188);
  padding:5px;
  border-top:5px solid rgb(200, 59, 40);
  box-sizing:border-box;
}

footer {
  border-top:5px solid rgb(20, 150, 40);
  box-sizing:border-box;
  background-color:rgb(188,188,188);
  color:#fff;
  margin:0px -5px -5px -5px;
  padding:5px ;
}

/* utility ==================== */
.left  { float:left;  }
.right { float:right; }
.clear { clear:both;  }

/* makes an element feel clickable */
.darkDiv, .card header, .linkLike {
  cursor:pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* color theme: */
/* "gamebookers" by plamenjC 
 * licence C-BY-NC-SA */
/* rgb(50, 153, 187); */
/* rgb(255, 153, 0); */
/* rgb(66, 66, 66); */
/* rgb(233, 233, 233); */
/* rgb(188, 188, 188); */
