.darkDiv {
  background-color: rgba(0, 0, 0, 0); 
  color: rgba(255, 255, 255, 0); 
  width:10%;
  height:100%;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
}

.darkDiv:hover {
  text-decoration: underline;
}

.sliderImage:hover .darkDiv{
  background-color: rgba(0, 0, 0, 0.3); 
  color: rgba(255, 255, 255, 1); 
}

.sliderImage {
  /* background-image:url(http://put.nu/files/okXkft9.jpg); */
  background-size:contain;
  background-color:black;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position:center;
  margin: 0 -0.3em;
  max-width:60em;
  height:31em;
}

.darkDiv {
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
